@charset "UTF-8";

/* head.css */

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
#wrap{
	width:800px;
	margin : 0 auto;	
}
#header{
	width:100%;
	margin-bottom:50px
}
#nav{
	padding:15px 0;
	width:100%;
}
.menuList{
	display:flex;
	align-items:center;
	list-style:none;
	justify-content:space-between;
}

a{
	text-decoration:none;
	color:inherit;
}

